<!DOCTYPE html>
<html lang="en" <%- htmlWebpackPlugin.options.context.helmet.htmlAttributes %>
  >

  <head>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/brands.css"
      integrity="sha384-n9+6/aSqa9lBidZMRCQHTHKJscPq6NW4pCQBiMmHdUCvPN8ZOg2zJJTkC7WIezWv"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css"
      integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq"
      crossorigin="anonymous"
    />
    <script
      type="text/javascript"
      src="https://unpkg.com/sidewind@3.3.3/dist/sidewind.umd.production.min.js"
    ></script>
    <script type="text/javascript">
      window.offsetByTimezone = function offsetByTimezone(time) {
        const tzOffset = new Date().getTimezoneOffset() / 60;
        const parts = time.split(":");
        const hours = parseInt(parts[0], 10);
        const minutes = parts[1];
        const hoursWithOffset = (hours - tzOffset) % 24;

        if (hoursWithOffset >= 0) {
          return hoursWithOffset + ":" + minutes;
        }

        return 24 + hoursWithOffset + ":" + minutes;
      };
    </script>
    <%- htmlWebpackPlugin.options.context.helmet.title %> <%-
    htmlWebpackPlugin.options.context.helmet.meta %> <%-
    htmlWebpackPlugin.options.context.helmet.link %> <%-
    htmlWebpackPlugin.options.context.helmet.style %> <% for (var file of
    htmlWebpackPlugin.options.context.cssFiles) { %>
    <link href="<%= file %>" rel="stylesheet" />
    <% } %>
  </head>

  <body <%- htmlWebpackPlugin.options.context.helmet.bodyAttributes %>
    > <%- webpackConfig.html %> <%-
    htmlWebpackPlugin.options.context.helmet.noscript %> <%-
    htmlWebpackPlugin.options.context.helmet.script %>
    <script src="https://fienta.com/embed.js"></script>
    <script src="https://app.mailjet.com/statics/js/widget.modal.js"></script>
    <% for (var script of htmlWebpackPlugin.options.context.jsFiles) { %>
    <script src="<%= script %>" type="text/javascript"></script>
    <% } %>
  </body>
</html>
