<!DOCTYPE html>
<html lang="en" <%- context.helmet.htmlAttributes %>>

<head>
  <%- context.helmet.title %>
    <%- context.helmet.meta %>
      <%- context.helmet.link %>
        <%- context.helmet.style %>
          <link rel="stylesheet" type="text/css" href="https://css.tito.io/v1.1" />
          <% for (var file of context.cssFiles) { %>
            <link href="<%= file %>" rel="stylesheet">
            <% } %>
</head>

<body <%- context.helmet.bodyAttributes %>>
  <%- context.html %>

    <%- context.helmet.noscript %>
      <%- context.helmet.script %>
        <% for (var script of context.jsFiles) { %>
          <script src="<%= script %>" type="text/javascript"></script>
          <% } %>
</body>

</html>
